.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.uppercase {
    text-transform: uppercase;
}

.semibold {
    font-weight: bolder;
}

.mx-2 {
    margin-left: 12px;
    margin-right: 12px;
}

.li {
    list-style: none;
}

.FreeShippingBanner-sidebar {
    position: fixed;
    bottom: 130px;
    width: 44px;
    height: 288px;
    background-color: #535766;
    z-index: 6;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    right: 0;
}

.FreeShippingBanner-sidebar-content {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    width: 36px;
    padding: 4px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    color: #fcfcfc;
    display: inline-block;
}

.text_style {
    text-decoration: none;
    color: white;
}